

{% extends "base.html" %}

{% block title %}Your Clubs{% endblock %}

{% block content %}
    <h1>Your Clubs</h1>
    {% if clubs %}
        <ul>
            {% for club in clubs %}
                <li>
                    <a href="{{ url_for('book_club_page', club_id=club.club_id) }}">
                        <strong>{{ club.clubname }}</strong>
                    </a> 
                    - {{ club.description }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You are not a member of any clubs yet.</p>
    {% endif %}
{% endblock %}










